* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Segoe UI', sans-serif;
    background: #f0f0f0;
    color: #111;
    padding: 20px;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    font-weight: bold;
    font-size: 24px;
  }
  nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #111;
    font-weight: 500;
  }
  nav a:hover {
    border-bottom: 2px solid #111;
  }
  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
  }
  .text h1 {
    font-size: 48px;
  }
  .text span {
    font-weight: bold;
    background: #f6caca;
    padding: 0 5px;
  }
  .text p {
    margin-top: 10px;
    font-size: 18px;
    max-width: 500px;
  }
  .image img {
    width: 300px;
    height: auto;
    border: 4px solid #111;
    box-shadow: 5px 5px 0 #333;
  }
  .scroll-socials {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .socials a img {
    width: 24px;
    margin: 0 8px;
  }
  
  .photos {
    margin-top: 40px;
    text-align: center;
  }
  
  .photo {
    display: inline-block;
    margin: 10px;
  }
  
  .photo img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
  }
  
  .photo p {
    margin-top: 5px;
    font-size: 14px;
    color: #555;
  }
  